.sidebar {
    width: 4%;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__btn {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
